body {
    background-color:rgb(32, 32, 32);
    color: rgb(212, 212, 212);
}

@media only screen and (min-width: 70em) {
    body {
        width: 70em;
        margin: auto;
    }
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(78, 184, 255);
}

a:visited {
    color: rgb(78, 184, 255);
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

header {
    margin: auto;
    text-align: center;
    width: 100%;
}

